* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    background-color: #E7E7E7;
}

#root, #app-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
}


#map {
    width: 100%;
    height: 100%;
}

#trees-main {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#trees-panel {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.trees-slider-panel {

}

.trees-slider-panel > div {
    width: 50%;
    margin: 0 auto;
}

.trees-slider-panel .Select {
    z-index: 2000;
}

.rc-slider-rail, .rc-slider-track {
    background-color: #333;
    height: 6px;
}

.rc-slider-handle,.rc-slider-handle:hover {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 18px 9px;
    border-color: transparent transparent #ffcc00 transparent;
    border-radius: 0;
    background-color: transparent;
    margin-top: 5px;
}


.logo {
    width: 130px;
}

.navbar {
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 23px -1px rgba(0,0,0,0.75);
    border-radius: 0;
}

.data {
    margin-top: 50px;
}

.data h1 {
    margin: 0;
    font-size: 60px;
    color: red;
}

.data h2 {
    margin: 0;
}

.data h3 {
    margin: 0;
    font-size: 20px;
}

.data p {
    margin: 0;
    font-size: 10px;
}
